@import '../../../themes';

@include nb-install-component {
    .landing{
        margin: -2.25rem -2.25rem -0.75rem !important;
        @media (max-width: 767.98px)
        {
            margin: -1rem -1rem 0 !important;
        }

        @media (max-width: 991.98px)
        {
            margin: -1.5rem -1.5rem -0.5rem !important;
        }
    }
    .section{
        width: 100%;
        margin:0 !important;
        padding:3rem;
    }

        
    .main{
        background: nb-theme(background-basic-color-4);
        height: 90vh;
        &-left{
    
            display: flex;
            justify-content: center;
            align-items: center;
            &>img{
                height: auto;
                width: 70%;
            }
        }
        &-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            &--box{
                width: 70%;
                display: block;
                &>p {
                    font-size: 1.15rem;
                }
            }
        }
    }


    .how{
        background: nb-theme(background-basic-color-3);
        height: 80vh;
        &-step{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
            &-img-box{
                height: auto;
                display: flex;
                justify-self: center;
                margin-bottom: 1rem;
            }
            &-img{
                width: auto;
                height: 7rem;
                margin: 0 auto;
            }
        }
        &-title{
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 5rem;
            text-transform: uppercase;
        }
    }
    .features{
        height: 80vh;
        background: nb-theme(background-basic-color-2);
        &-title {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 5rem;
            text-transform: uppercase;
        }
        &-box{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
            align-content: flex-start;
            align-items: flex-start;
            justify-items: center;
            width: 100%;
        }
        &-feature{
            &:hover{
                background-color: nb-theme(background-basic-color-1);;
            }
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 80%;
            justify-content: center;
            align-items: center;
            justify-items: center;
            text-align: center;
            &--icon{
                width: 2.5rem;
                height: 2.5rem;
            }
            &--title{
                text-align: center;
                font-size: 1.0rem;
            }
            &-p{
                text-align: center;
                text-transform: capitalize;
            }
        }
    }

}