<main class="landing">
    <div class="section main row" id="main">
        <div class="col main-left">
            <img src="assets/img/flame-sign-up.png" alt="smart contract picture">
        </div>
        <div class="col main-right">
            <h3>Voty</h3>
            <h5>is a e-vote solution based on blockchain technologie</h5>
            <a href='#how' size="small" outline status="basic" nbButton>How it works?</a>
        </div>
    </div>
    <div class="section how row" id="how"></div>
    <div class="section features row" id="features"></div>
</main>