<main class="landing">
    <div class="section main row" id="main">
        <div class="col main-left">
            <img src="assets/img/flame-sign-up.png" alt="smart contract picture">
        </div>
        <div class="col main-right">
            <h2>Voty</h2>
            <div class="main-right--box">            
                <p>is an e-vote solution based on blockchain technologie, developed using Hyperledger fabric framework as PFA project at INSAT,Tunisia</p>
            </div>
        </div>
    </div>
    <div class="section how" id="how">
        <h6 class="how-title">How it works ?</h6>
        <div class="row">
            <div class="col how-step">
                
                <div class="how-step-img-box"><img class="how-step-img"  src="assets/img/kingdom-9.png" alt=""></div>
                <h5>1 | Admin enrollment</h5>
                <p>Newtork admin create an account for election 'creator', called also election admin</p>
            </div>
            <div class="col how-step">
                
                <div class="how-step-img-box"><img class="how-step-img"  src="assets/img/kingdom-4.png" alt=""></div>
                <h5>2 | Election creation</h5>
                <p>That election admin use his account (sent to mail) to create election + adding voters (providing their e-mail addresses)</p>
            </div>
            <div class="col how-step">
                
                <div class="how-step-img-box"><img class="how-step-img"  src="assets/img/kingdom-6.png" alt=""></div>
                <h5>3 | Voting</h5>
                <p>Every voter can login using his credentiels (sent to his mail) and become a candidate during the candidacy phase / vote during voting phase (he can do both)</p>
            </div>
            <div class="col how-step">
                
                <div class="how-step-img-box"><img class="how-step-img"  src="assets/img/kingdom-1.png" alt=""></div>
                <h5>4 | Results</h5>
                <p>After the end of the election phase, results become accessible</p>
            </div>
          
        </div>
    </div>
    <div class="section features" id="features">
        <h6 class="features-title">
            The key features
        </h6>
        <div class="features-box">
            <div class="features-feature">
                <nb-icon class="features-feature--icon" icon="shield"></nb-icon>
                <h3 class="features-feature--tile">Integrity</h3>
                <p class="features-feature--p">All intractions are translated to blockchain transaction which grant a high degree of persistance</p>
            </div>
            <div class="features-feature">
                <nb-icon class="features-feature--icon" icon="shuffle-2"></nb-icon>
                <h3 class="features-feature--tile">Unlinkability</h3>
                <p class="features-feature--p">each vote will be recorded, but with no link to the voter</p>
            
            </div>
            <div class="features-feature">
                <nb-icon class="features-feature--icon" icon="cube"></nb-icon>
                <h3 class="features-feature--tile">Decentralization</h3>
                <p class="features-feature--p">the elections related actions doesn't require a third trusted tier to take place, which give more freedom and flexibility to the users</p>
            </div>
            
        </div>
    </div>  
</main>