<div class="col-md-8 mx-auto">
  <div class="d-flex flex-column align-items-center">

  
    <h2 >Candidates List</h2>
    <button fullWidth nbButton size="medium" (click)="becameCandidate()" status="primary" class="mx-auto"><nb-icon icon="plus"> </nb-icon> Became one</button>
  </div>
  <app-candidates-list [candidates]="candidates" [isSpinner]="isSpinner" >

  </app-candidates-list>
<!--


<nb-accordion  >


    <nb-accordion-item *ngFor="let candidate of candidates">
      <nb-accordion-item-header>{{candidate.firstName | titlecase}} {{candidate.lastName | uppercase}}</nb-accordion-item-header>
      <nb-accordion-item-body>

        {{candidate.data | titlecase}}

        <a class="float-right" nbButton size="small" [routerLink]="['/candidate',candidate.voterId]">More details</a>

      </nb-accordion-item-body>
      
    </nb-accordion-item>

  </nb-accordion>
  -->
</div>