<div class="col-md-8 mx-auto">
  <div class="d-flex flex-column align-items-center">


    <h1>Elections List</h1>
    <button nbButton fullWidth size="giant" (click)="toggleCreation()" status="primary">
      <nb-icon icon="plus"></nb-icon>
    </button>
  </div>
  <nb-card [ngClass]="{'d-none':isHidden}" [nbSpinner]="isSpinner" nbSpinnerSize="giant" nbSpinnerStatus="warning">
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation #stepper>
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Election Creation</ng-template>
          <h4>Please provide the necessary informations</h4>
          <form [formGroup]="electionForm">
            <div class="form-group">
              <label for="name" class="label">Name</label>
              <input nbInput id="name" fullWidth placeholder="name" formControlName="name" type="text">
            </div>
            <div class="form-group">
              <label for="organisation" class="label">Organisation</label>
              <input nbInput id="organisation" fullWidth placeholder="Which organisation?"
                formControlName="organisation" type="text">
            </div>

            <div class="form-group">
              <label for="description" class="label">description</label>
              <textarea nbInput id="description" fullWidth placeholder="Describe the election"
                formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <label for="candidacy" class="label">Candidacy Phase Range</label>
              <input nbInput [nbDatepicker]="rangepicker_candidacy" fullWidth id="candidacy"
                formControlName="candidacy_range" placeholder="range of candidacy phase">
              <nb-rangepicker #rangepicker_candidacy></nb-rangepicker>
            </div>
            <div class="row">

              <div class="col" >
                <label for="startHourC" class="label d-inline-block ">Candidacy Starting Hour</label>
                <input list="time" placeholder='time' formControlName="candidacy_start_hour" fullWidth step="1,30,5" nbInput type="time" id="startHourC" name="startHour">
              </div>
              <div class="col" >
                <label for="endHourC" class="label d-inline-block ">Candidacy Ending Hour</label>
                <input list="time" placeholder='time' formControlName="candidacy_end_hour" fullWidth step="1,30,5" nbInput type="time" id="endHourC" name="startHour">
              </div>
            </div>
            
            <datalist id="time">
              
              <option value="08:00">
              <option value="09:00">
              <option value="10:00">
              <option value="11:00">
              <option value="12:00">
              <option value="13:00">
              <option value="14:00">
              <option value="15:00">
              <option value="16:00">
              <option value="17:00">
              <option value="18:00">
              <option value="19:00">
            </datalist>
            <div class="form-group">
              <label for="voting" class="label">Voting Phase Range</label>
              <input nbInput [nbDatepicker]="rangepicker_voting" fullWidth id="voting" formControlName="voting_range"
                placeholder="range of voting phase">
              <nb-rangepicker #rangepicker_voting></nb-rangepicker>
            </div>
            <div class="row">
              <div class="col" >
                <label for="startHourV" class="label d-inline-block ">Voting Starting Hour</label>
                <input list="time" placeholder='time' formControlName="voting_start_hour" fullWidth step="1,30,5" nbInput type="time" id="startHourV" name="startHour">
              </div>
              <div class="col" >
                <label for="endHourV" class="label d-inline-block ">Voting Ending Hour</label>
                <input list="time" placeholder='time' formControlName="voting_end_hour" fullWidth step="1,30,5" nbInput type="time" id="endHourV" name="startHour">
              </div>
            </div>


            <input nbButton class="mt-4 float-right" size="medium" [disabled]="electionForm.invalid" status="primary" type="button" (click)="createElection()"
              value="Add Election">
          </form>

        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Add Voters</ng-template>
          <h4>Add Voters</h4>

          <ng2-smart-table [settings]="settings" [source]="votersDataSource"></ng2-smart-table>

          <input nbButton size="medium" status="primary" type="button" (click)="createVoters()" value="Add Voters">


        </nb-step>
        <nb-step [label]="labelThree">
          <ng-template #labelThree>Validation</ng-template>

          <h4 class="text-center">You have added an election + voters</h4>

          <button nbButton status="success" size="medium" fullWidth (click)="finishCreation()">Finish</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>

  <app-elections-list [elections]="elections" [isSpinner]="isLoading">

  </app-elections-list>

  <!--
      
    
  <nb-accordion *ngIf="elections">


    <nb-accordion-item  *ngFor="let election of elections">
      <nb-accordion-item-header>

      {{election.name}}
  
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <p>      Candidacy phase : {{election.candidacy_startDate | date:'long'}}  - {{election.candidacy_endDate | date:'long'}}      </p>
        <p>      Voting phase : {{election.voting_startDate | date:'long'}}  -  {{election.voting_endDate | date:'long'}}      </p>
        
        <a class="float-right" nbButton size="small" [routerLink]="['/election',election.electionId]">details</a>

      </nb-accordion-item-body>
    </nb-accordion-item>

  
  </nb-accordion>
-->
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h5>Continue with operation ?</h5>
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="ref.close(false)" class="mr-5">No</button>
      <button nbButton status="success" (click)="ref.close(true)">Yes continue</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
