<div class="col-8 mx-auto">

  <nb-card status="primary" class="row">
    <nb-card-header>Who we are</nb-card-header>
    <nb-card-body>
      We are a team of software engineering student at INSAT,Tunisia minoring, we worked on this project for two months
      started with no knowledge about the blockchain technologie and we find our way through the documentation and our
      supervisor support
    </nb-card-body>
    <nb-card-footer>INSAT, Tunisia</nb-card-footer>
  </nb-card>
  <h6>Team members</h6>
  <div class="row">
    
    
      <nb-card accent="info" class="col-sm">
        <nb-card-header class="mx-auto"><nb-user showName="false" showTitle="false" size="giant" name="John Doe" title="Software Engineer"
            picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG" onlyPicture>
            >
            </nb-user></nb-card-header>
        <nb-card-body class="mx-auto">
            <p class="text-center">Khalil Mejri</p>
            <p class="text-center"> A software engineering student with minor in Data Science</p>
        
        </nb-card-body>
      </nb-card>
      <nb-card accent="info" class="col-sm">
        <nb-card-header class="mx-auto"><nb-user showName="false" showTitle="false" size="giant" name="John Doe" title="Software Engineer"
            picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG" onlyPicture>
            >
            </nb-user></nb-card-header>
        <nb-card-body class="mx-auto">
            <p class="text-center">Khalil Mejri</p>
            <p class="text-center"> A software engineering student with minor in Data Science</p>
        
        </nb-card-body>
      </nb-card>
      <nb-card accent="info" class="col-sm">
        <nb-card-header class="mx-auto"><nb-user showName="false" showTitle="false" size="giant" name="John Doe" title="Software Engineer"
            picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG" onlyPicture>
            >
            </nb-user></nb-card-header>
        <nb-card-body class="mx-auto">
            <p class="text-center">Khalil Mejri</p>
            <p class="text-center"> A software engineering student with minor in Data Science</p>
        
        </nb-card-body>
      </nb-card>
  </div>
</div>
