<nb-card class="col-6 mx-auto" *ngIf="isSpinner==true" [nbSpinner]="isSpinner" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <nb-card-body>
      <h5 class="text-center">Loading election</h5>
    </nb-card-body>
  </nb-card>
<nb-card class="col-8 mx-auto"  *ngIf="isSpinner==false" >
    <nb-card-header>
        <h4 class="float-left">Election details {{authService.role | async }} {{election.state}}</h4>
        <nb-toggle *ngIf="(authService.role|async)=='admin'; else btnb" class="float-right" fullWidth id="toggle" (checkedChange)="toggleModification()" [checked]="isModify" labelPosition="end">modify</nb-toggle>
        <ng-template #btnb>
        <button size="medium"  *ngIf="election.state=='created'" status="primary" (click)="activateElection()" nbButton class="float-right" >Approve Election</button>
    </ng-template>
    </nb-card-header>

    <nb-card-body>
        <nb-alert *ngIf="election.state=='validated'" status="info" >
            This election is approved !
        </nb-alert>
        <form  [formGroup]="electionForm">
        <div class="form-group">
            <label for="name" class="label">Name</label>
            <input nbInput id="name" fullWidth [disabled]="true" placeholder="Name"  [value]="election.name" type="text">
        </div>
        <div class="form-group">
            <label for="description" class="label">Description</label>
            <textarea nbInput id="description" [status]="electionForm.get('description').invalid && electionForm.get('description').touched?'danger':'basic'" formControlName="description"  fullWidth placeholder="Describe the election"  [value]="election.description" ></textarea>
        </div>
        
        <div class="form-group">
            <label for="organisation" class="label">organisation</label>
            <input nbInput id="organisation" [status]="electionForm.get('organisation').invalid && electionForm.get('organisation').touched?'danger':'basic'" formControlName="organisation"  fullWidth placeholder="Which organisation ?"  [value]="election.organisation" type="text">
        </div>
        <div class="form-group">
            <label for="vnumbers" class="label">Number of voters</label>
            <input nbInput id="vnumbers" [disabled]="true"  fullWidth placeholder="Which organisation ?"  [value]="election.votersNumber" type="number">
        </div>
        </form>
        <nb-alert *ngIf="isModify" status="warning" >
            You cannot change phases duration 
        </nb-alert>
        <div class="row">
            
                
                
              
            <div class="col">
                <div class="form-group" >
                    <label for="startHourC" class="label d-inline-block ">Candidacy Starting Hour</label>
                    <input list="time" placeholder='time' [disabled]="true" [value]="candidacy_start_hour" fullWidth step="1,30,5" nbInput type="time" id="startHourC" name="startHour">
                  </div>
                  <div class="form-group" >
                    <label for="endHourC" class="label d-inline-block ">Candidacy Ending Hour</label>
                    <input list="time" placeholder='time' [disabled]="true" [value]="candidacy_end_hour" fullWidth step="1,30,5" nbInput type="time" id="endHourC" name="startHour">
                  </div>
                <div class="form-group">
                <label for="candidacy" class="label">Candidacy Phase</label>
                <nb-calendar-range  id="candidacy" size="large" [range]="candidacy_range" (rangeChange)="handleCandidacyRangeChange($event)"></nb-calendar-range>
                </div>
            </div>
            <div class="col">
                <div class="form-group" >
                    <label for="startHourV" class="label d-inline-block ">Voting Starting Hour</label>
                    <input list="time" placeholder='time' [disabled]="true" [value]="voting_start_hour" fullWidth step="1,30,5" nbInput type="time" id="startHourV" name="startHour">
                  </div>
                  <div class="form-group" >
                    <label for="endHourV" class="label d-inline-block ">Voting Ending Hour</label>
                    <input list="time" placeholder='time' [disabled]="true" [value]="voting_end_hour" fullWidth step="1,30,5" nbInput type="time" id="endHourV" name="startHour">
                  </div>
                <div class="form-group">
                <label for="voting" class="label">Voting Phase</label>
                <nb-calendar-range  id="voting" size="large" [range]="voting_range" (rangeChange)="handleVotingRangeChange($event)"></nb-calendar-range>
                </div>
            </div>

        </div>
        
    </nb-card-body>
    <nb-card-footer>
        <a size="small" nbButton [routerLink]="['/admin']"> <nb-icon icon="chevron-left-outline"></nb-icon> Return</a>
        <button size="medium" *ngIf="isModify" status="primary" [disabled]="electionForm.invalid" (click)="modifyElection()" nbButton class="float-right" >Save changes!</button>
       
    </nb-card-footer>
</nb-card>
<nb-card class="col-6 mx-auto" *ngIf="isSpinnerVoters==true" [nbSpinner]="isSpinner" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <nb-card-body>
      <h5 class="text-center">Loading sub voters</h5>
    </nb-card-body>
  </nb-card>
<nb-card class="col-8 mx-auto"  *ngIf="isSpinnerVoters==false" >
    <nb-card-header>
        <h5 class="text-center" >Voters list</h5>
    </nb-card-header>
    <nb-card-body >
        <h6 class="text-center" *ngIf="!electionVoters.length" > There is no voters for this election</h6>
        <table class="table table-striped mb-2" *ngIf="electionVoters.length">
            <thead>
                <tr>
                    <th scope="col"><h6>#</h6></th>
                    <th scope="col"><h6>First Name</h6></th>
                    <th scope="col"><h6>Last Name</h6></th>
                    <th scope="col"><h6>Email</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let voter of electionVoters; index as i;">
                    <th scope="row"><p>{{i+1}}</p></th>
                    <td><p>{{voter.firstName}}</p></td>
                    <td><p>{{voter.lastName}}</p></td>
                    <td><p>{{voter.email}}</p></td>
                </tr>
            </tbody>
        </table>
        
    </nb-card-body>
   
</nb-card>

<!-- popup template -->
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header><h5>Continue ?</h5></nb-card-header>
      <nb-card-body>{{ data }}</nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="ref.close(false)" class="mr-5">No</button>
        <button nbButton status="success" (click)="ref.close(true)">Yes continue</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>