<footer class="footer container pt-4">

    <div class="row">
    <div class="col">
      <ul class="footer-ul">
        <li>Voty</li>
        <li>is an electronic voting solution based on blockchain technology</li>
        <li>developped as a software engineering project at Insat,Tunisia</li>
      </ul>
     
      
    </div>
    <div class="col">
      <ul class="footer-ul">
        <li><a [routerLink]="['/about']" >About us</a></li>
        <li><a [routerLink]="['/faq']">FAQ</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>      
      </ul>
      
    </div>
    
    
  </div>
	<div class="footer-copyright mx-auto">
		<img class="footer-copyright-logo" src="" alt="Logo voty" width="80">
		<p class="footer-copyright-text">Copyright © 2020 Voty. All right reserved</p>
  </div>  
</footer>