<nb-card class="col-6 col-md-4 mx-auto my-auto" [nbSpinner]="isSpinner" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <nb-card-header>
    <h2 class="mx-auto">Login</h2>
  </nb-card-header>
  <nb-card-body >
    
      <form [formGroup]="loginForm">
        <div class="form-group mb-3"
        >
          <label for="id" label>ID</label>
          <input  [status]="loginForm.get('id').invalid && loginForm.get('id').touched?'danger':'basic'" id="id" formControlName="id" type="text" nbInput fullWidth placeholder="vzY24R5485zdRt" >
        </div>
        <div class="form-group mb-3">
          <label for="password" label>Password</label>
          <input [status]="loginForm.get('password').invalid && loginForm.get('password').touched?'danger':'basic'" id="password" formControlName="password" type="password" nbInput fullWidth placeholder="***********" >
        </div>
        <input [disabled]="loginForm.invalid" (click)="login()" status="primary" fullWidth nbButton type="button"value="Log in" >

      </form>  
    
  </nb-card-body>
</nb-card>