 
 <h4 class="text-center">hello {{loggedUser.email}} ,{{loggedUser.firstName}} , {{loggedUser.email}}</h4>
 <nb-card *ngIf="!loggedUser.isCandidate" class="col-6 col-md-4 mx-auto my-auto" [nbSpinner]="isSpinner" nbSpinnerSize="giant" nbSpinnerStatus="warning">
  <nb-card-header>
    <h3 class="mx-auto">Became a candidate !</h3>
  </nb-card-header>
  <nb-card-body>
    
    <form [formGroup]="candidateForm">
      
      
      <div class="form-group mb-2">
        <label for="data" class="label">Provide some career informations</label>
        <textarea nbInput id="data" formControlName="data" fullWidth placeholder="3 years Researcher at X" type="text"></textarea>
      </div>
          <input  [disabled]="candidateForm.invalid" (click)="createCandidate()" status="primary" fullWidth nbButton type="button" value="Save" >

    </form>  
      
    </nb-card-body>
  </nb-card>
  
<nb-card *ngIf="loggedUser.isCandidate" class="col-6 col-md-4 mx-auto my-auto" [nbSpinner]="isSpinner" nbSpinnerSize="giant" nbSpinnerStatus="warning">
    <nb-card-header>
      <h3 class="mx-auto">You are already a candidate</h3>
    </nb-card-header>
    <nb-card-body >

      <!--
      <div class="form-group mb-2">
        <label for="data" class="label">You can change your status</label>
        <textarea nbInput id="data" formControlName="data" fullWidth placeholder="3 years Researcher at X" type="text">
          {{loggedUser.data}}
        </textarea>
      </div>
    -->
      <div class="form-group mb-2">

        <label for="toggle" class="label">Switch {{loggedUser.isActive ?'Off ':'On '}}your candidacy</label>

        <nb-toggle fullWidth id="toggle" [(ngModel)]="active" labelPosition="start"> {{' '}}</nb-toggle>
      </div>
        <input (click)="modifyCandidate()" status="primary" fullWidth nbButton type="button"value="Save" />

    </nb-card-body>
  </nb-card>
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header><h5>Continue ?</h5></nb-card-header>
      <nb-card-body>{{ data }}</nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="ref.close(false)" class="mr-5">No</button>
        <button nbButton status="success" (click)="ref.close(true)">Yes continue</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
